@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=swap");
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {
	--primary-color: #71b3dd;
	--primary-dark-color: #4489b5;
	--text-color-gray: #8b979f;
	--text-color-light-gray: #c1c7cb;
	--text-color-dark-gray: #5a6f7c;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
	color: #333;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

.nav {
	width: 100%;
	height: 80px;
	box-shadow: 2px 3px 5px #ccc;
}

.public-width {
	width: 1200px;
	margin: auto;
}

.nav .public-width {
	display: flex;
	height: 80px;
	align-items: center;
	justify-content: start;
}

.nav-logo {
	width: auto;
	height: 66px;
}

.nav-logo img {
	display: block;
	width: auto;
	height: 100%;
}

.nav-name {
	width: auto;
	margin-left: 40px;
	font-family: "Permanent Marker", cursive;
	font-size: 30px;
}

.nav-list {
	margin-left: 410px;
}

.nav-list ul {
	display: flex;
	height: 100%;
	justify-content: start;
}

.nav-list ul li {
	width: auto;
	padding: 0 20px;
}

.nav-list ul li a {
	color: #333;
	font-family: "Balsamiq Sans", sans-serif;
}

.name-card {
	font-size: 14px;
	font-family: "Raleway", sans-serif;
}

.wrapper {
	display: grid;
	align-items: center;
	justify-content: center;
	height: 90vh;
}

.profile-card {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	column-gap: 12px;
	width: 677px;
	height: 424px;
	box-shadow: 0px 0px 22px 3px rgba(0, 0, 0, 0.18);
}

.profile-image {
	grid-column: 8 / 13;
	max-width: 288px;
	height: 100%;
	overflow: hidden;
	align-self: start;
	justify-self: end;
}


.profile-image img {
	width: 210%;
	transform: translate(-165px, -135px);
	object-fit: cover;
}

.content {
	grid-column: 1/8;
	padding: 38px 28px 20px 33px;
	position: relative;
}

nav {
	margin-bottom: 24px;
	display: flex;
	position: relative;
}

nav a {
	color: var(--primary-color);]
}

.personal-info {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.title h1 {
	font-size: 2em;
	font-weight: 500;
}

.title p {
	color: var(--text-color-gray);
	margin: 6px 0 18px 0;
}

.follow-btn {
	justify-self: end;
	height: 30px;
	background-color: var(--primary-color);
	border: none;
	color: white;
	padding: 0 27px;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 30px;
}

.follow-bth .fa {
	font-size: 10px;
	margin-right: 6px;
}

.about-me {
	color: var(--text-color-gray);
	font-weight: 300;
	text-align: justify;
}

footer {
	margin-top: 160px;
}

footer ul {
	display: flex;
}

footer ul li {
	list-style: none;
}

footer ul li:not(:last-child) {
	margin-right: 30px;
}

footer .fa {
	color: var(--primary-color);
	font-size: 24px;
}













